<<<<<<< Updated upstream
body {
    font-family: 'Rubik', sans-serif;
=======
* {
    padding: 0px;
    margin: 0px;
>>>>>>> Stashed changes
}

#tabela {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#boom {
    text-decoration: none;
    color: #696969;
}

.episodios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.episodios img {
    max-width: 100%;
}

#recomendado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
}

.retorno {
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    margin: 4rem;
    font-family: 'Rubik', Courier, monospace;
    font-size: 1.25rem;
    /* overflow:hidden */
}

.retornoImg {
    width: 15rem;
    height: 15rem;
    padding: 1rem;
    border-radius: 50%;
}
<<<<<<< Updated upstream

.retornoslides {
    text-align: center;
    width: 15rem;
    height: 15rem;
    margin: 4rem;
    font-family: 'Rubik', Courier, monospace;
    font-size: 1.25rem;
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: sticky;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.left {
    left: 0;
    border-radius: 3px 0 0 3px;
}
=======
.my-navbar {
    position: fixed;
    width: 12em;
    height: 100vh;
    padding: 1em;
    background-color: #8B94A7;
    
}

.my-navbar a {
    text-decoration: none;

}


#divBusca{
    position: absolute;
    background-color:#D9D9D9;
    border:10px;
    padding:10px;
    width:400px;
    left: 270px;
    height: 40px;
    top: 24px;
  }
  .search{
    position: absolute;
    padding: 0px;
    background-color: #D9D9D9;
    border:10px;
    height:40px;
    width: 52px;
    left: 220px;
    top: 24px;
    }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:3px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:21px;
    width:400px;
  }
.conteudo{
    position:absolute;
    top:96px;
    height: 33px;
    left:220px;
}
  #txtConteudo{
    font-size:22px;
  }
>>>>>>> Stashed changes
